body{
    margin: 25px;
    text-align: center;
    user-select: none;
}

#bord{
    display: inline-grid;
    border: 5px solid black;
    box-sizing: border-box;
}

#hoveredEntityDisplay{  
    float:left;
    text-align: left;
    width: 100px;
}

span{
    font-size: 0;
}