body{
    margin: 25px;
    text-align: center;
    user-select: none;
}

#hoveredEntityDisplay{  
    position: absolute;
    left: 25px;
    top: 45%;
    float:left;
    text-align: left;
}

#hoverDisplay{
    position: absolute;
    left: 25px;
    top: 35%;
    float:left;
    text-align: left;
}

#selectedDisplay{
    position: absolute;
    left: 25px;
    top: 25%;
    float:left;
    text-align: left;
}

canvas{
    left: 37.5%;
    border: 5px solid black;
    cursor: none;
}

header{
    ul{
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: red;
            }
        }
    }
    border-bottom: 1px solid;
}

.content{
    text-align: center;
}

footer{
    border-top: 1px solid;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
}