body{
    margin: 25px;
    text-align: center;
    user-select: none;
}

#stats{
    grid-column: 1/5;
    grid-row: 1;
}

#hoveredEntityDisplay{  
    grid-column: 1/5;
    grid-row: 2;
    margin: auto;
}

#hoverDisplay{
    grid-column: 1/5;
    grid-row: 3;
    margin: auto;
}

#selectedDisplay{
    grid-column: 1/5;
    grid-row: 4/6;
    margin: auto;
}

#createBot{
    grid-column: 1/5;
    grid-row: 7;
    height: 25px;
    width: 250px;
    margin: auto;
}

#uploadBot{
    grid-row: 8;
    grid-column: 1/5;
    margin: auto;
}

#game{
    position: relative;
    text-align: center;
    height: 1000px;
    width: 1000px;
    grid-row: 1/10;
    grid-column: 7/15;
    canvas{
        left: 0px;
        position: absolute;
        border-left: 1px solid black;
        border-right: 1px solid black;
        cursor: none;
    }
}

header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    h1{
        background-color: red;
        color: white;
        padding: 20px;
        margin: 0;
        text-align: center;
        grid-row: 1;
        grid-column: span 3;
    }
    #right{
        grid-column: 3;
        text-align: right;
        grid-row: 2;
    }
    #middle{
        grid-column: 2;
        grid-row: 2;
    }
    ul{
        padding: 0;
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: red;
            }
        }
    }
    border-bottom: 1px solid;
}

.content{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(15, 100px);
    grid-template-rows: repeat(10, 100px);
    form{
        grid-column: span 15;
        grid-row: span 10;
        margin: auto;
    }
}

footer{
    border-top: 1px solid;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    background-color: red;
    color: white;
}