body{
    margin: 25px;
    text-align: center;
    user-select: none;
}

button{
    margin: 10px;
    padding: 25px;
    float: left;
}

#hoveredEntityDisplay{  
    position: absolute;
    left: 25px;
    top: 45%;
    float:left;
    text-align: left;
}

#hoverDisplay{
    position: absolute;
    left: 25px;
    top: 35%;
    float:left;
    text-align: left;
}

#selectedDisplay{
    position: absolute;
    left: 25px;
    top: 25%;
    float:left;
    text-align: left;
}

canvas{
    left: 30%;
    border: 5px solid black;
    cursor: none;
}