include ./layout/header.pug
script(src="js/main.js", defer)
div(class="content")
    if errors !== undefined
        ul
            each val in errors
                li= val
    form(action="register" method="post")
        div(class="formContent")
            label(for="name") Name: 
            if input !== undefined && input.name !== undefined
                input(type="text" name="name" required value=input.name)
            else
                input(type="text" name="name" required)
        div(class="formContent")
            label(for="username") Username: 
            if input !== undefined && input.username !== undefined
                input(type="text" name="username" required value=input.username)
            else
                input(type="text" name="username" required)
        div(class="formContent")
            label(for="email") Email: 
            if input !== undefined && input.email !== undefined
                input(type="text" name="email" required value=input.email)
            else
                input(type="text" name="email" required)
        div(class="formContent")
            label(for="password") Password: 
            input(type="password" name="password" required)
            input(type="checkbox" name="passwordCheckbox" id="showPassword")
        div(class="formContent")
            label(for="repeatPassword") Repeat Password:
            input(type="password" name="repeatPassword" required)
            input(type="checkbox" name="passwordCheckbox" id="showRepeatPassword")
        div(class="formContent")
            button(type="submit") Register
include ./layout/footer.pug